/* font-family: 'Montserrat', sans-serif; */

body {
    background-color: #F0E9E4;
    /* font-family: 'Inconsolata', monospace; */
	/* font-family: 'Roboto Slab', serif; */
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
    margin: 0px;
	font-size: 18px;
}

.font100{
	font-weight: 100;
}

.font300{
	font-weight: 300;
}

.font400{
	font-weight: 400;
	font-size:20px;
}

.font500{
	font-weight: 500;
}

#portrait{
	width: 200px;
	height: 300px;
}

.margined{
    margin: 16px;
}

.name{
    font-weight: 500;
    font-size: large;
}

.subName1{
    color: dimgrey;
}

.subName2{
    color: grey
}

.menuBanner {
    background-color: #464646;
    color: white;
    padding-left: 64px;
}

.bannerItem {
    display: inline-flex;
    padding: 15px;
    margin-left: 10px;
	margin-right: 10px;
}

.bannerItem:hover {
    background-color: dimgray;
}

.bannerItem a {
    color: white;
    text-decoration: none;
}

.tabbed{
    padding-left: 16px;
}

.content{
    margin-left: 32px;
	font-weight: 300;
	line-height: 1.5;
}

#about{
	
	display: flex;
	text-align: center;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.aboutContent{
	margin: 10px;
}

#aboutText{
	max-width: 600px;	
	text-align: left;
	font-size: 20px;
}

#aboutLine{
	border-left: 1px solid DarkGray;
	height: 400px;
	width: 3px;
	margin-left: 40px;
	margin-right: 40px;
	
}

#history{
	display: flex;
	/* text-align: center; */
	margin-top: 40px;
	justify-content: space-evenly;
	/* align-items: center; */
	flex-wrap: wrap;
	
}

.historyContent{
	text-align: left;
	/* margin-left: 40px; */
}

.border{
	border-left: 1px solid DarkGray;
	padding-left: 10px;
	/* margin-left:30px; */
}

.projectBlock{
	display: inline-block;
	padding: 20px;
}

.projectGif{
	width: 400px;
	height: 400px;

}

.listBlackDot{
	
}

.listOutlineDot{
	list-style-type: circle;
}

ul {
	margin: 0px;	
}

/* .sampleCode{ */
	/* font-size: 12px; */
	
/* } */

/* #samples{ */
	/* font-size: 12px; */
	
/* } */

@media only screen and (max-width: 949px) {
	#aboutLine{
		visibility: hidden;			
	}
}

